html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 239, 239);
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 80px;
  text-align: center;
  display:block;
}
canvas {
  display: block;
}
